<html>
	<head>
		<script src="node_modules/highcharts/highcharts.js"></script>
	</head>
	<body>
		<h1>autoperc web interface</h1>
		<% if (config.basin_low) { %>
			<div style="background-color: red; color: white;">
				<p>Warning, water basin is low</p>
				<button onclick="window.location = '/api/reset_basin'">I filled it</button>
			</div>
		<% } %>
		<div id="container" style="min-width: 310px; max-width: 800px; height: 300px"></div>
		<h3>config</h3>
		<form action="/api/config" method="post">
			<label for="enable">enable</label>
			<input name="enable" type="checkbox" <% if (config.enable) { %> checked <% } %>>
			<br />
			<label for="upper_threshold">upper threshold</label>
			<input name="upper_threshold" type="number" value="<%= config.upper_threshold %>">
			<br />
			<label for="lower_threshold">lower threshold</label>
			<input name="lower_threshold" type="number" value="<%= config.lower_threshold %>">
			<br />
			<button type="submit">submit</button>
		</form>
		<script>
			var levels = <%- JSON.stringify(levels) %>;
			var correctedLevels = (function () {
				var levelsForHighcharts = [];
				for (var level of Object.keys(levels)) {
					levelsForHighcharts.push([new Date(parseInt(level * 1000)), parseFloat(levels[level])]);
				}
				return levelsForHighcharts;
			})();
			console.error(correctedLevels);
			Highcharts.chart('container', {
				chart: {
					type: 'spline'
				},
				title: {
					text: 'Water level'
				},
				xAxis: {
					labels: {
						enabled: false
					}
				},
				yAxis: {
					title: {
						text: 'Water level (cm)'
					},
					min: 0
				},
				tooltip: {
					headerFormat: '<b>{series.name}</b><br>',
					pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
				},

				plotOptions: {
					spline: {
						marker: {
							enabled: true
						}
					}
				},
				series: [{
					showInLegend: false,
					data: correctedLevels
				}],
				credits: {
					enabled: false
				}
			});
		</script>
	</body>
</html>
